@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(
    to bottom right,
    rgb(3, 3, 68),rgb(0, 0, 0)
  );  
  background-repeat: no-repeat;
  background-attachment: fixed;
}

*{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

::selection {
  background: rgb(208, 226, 255);
  color: rgb(0, 0, 0);
}

::-moz-selection {
  background: black;
  color: white;
}